.logo{
    padding-top: 15px;
    font-size: 30px;
    color: #000;
}

.logo:hover{
    padding-top: 15px;
    font-size: 30px;
    color: #000;
}

.nav-link.active {
    background-color: #0b93ff;
    color: #fff;
    border-radius: 5px;
}

.day-link.active {
    background-color: #ff7600;
    padding: 5px 5px;
    color: #fff;
    border-radius: 5px;
}

a:not([href]):not([tabindex]){
    color: #007bff;
}
a:not([href]):not([tabindex]):hover{
    color: #0056b3;
}

.title{
    text-align: center;
}