<persistence>
    <persistence-unit name="my-persistence-unit" transaction-type="JTA">
        <properties>
            <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
            <property name="javax.persistence.schema-generation.create-source" value="script"/>
            <property name="javax.persistence.schema-generation.create-script-source" value="db/sql/create-db.sql"/>
            <property name="javax.persistence.schema-generation.drop-source" value="script"/>
            <property name="javax.persistence.schema-generation.drop-script-source" value="db/sql/drop-db.sql"/>
            <property name="javax.persistence.sql-load-script-source" value="db/sql/insert-data.sql"/>
        </properties>
    </persistence-unit>
</persistence>